

#main-navbar {
 background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#a8c5ff 29%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  border: hidden;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  position: relative;
  display: block;
  padding: 15px 60px;
  background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
  font-family: "Roboto", sans-serif;
  font-weight: 300 light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#main-navbar ul li a:hover {
  background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}

#onpage {
  text-decoration: underline;
}

.container {
  width: 560px;
  margin: auto;
  border: hidden;
)