body {
  margin: 0;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header { <!--header position and gradient color-->
  background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#a8c5ff 29%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); <!--added gradient color-->
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header h1{ <!--header font type and sizing-->
  font-size: 2em;
  margin: 0.67em 0;
  font-family: 'bungee tint';
  color: black;
}

#navbar { <!--Navbar type and positioning-->
  position: sticky;
  top: 0px;
  overflow: hidden;
  background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  height: 80px;
  align-content: center;
}

#navbar a { <!--Navbar buttons positioning and color-->
  float: left;
  text-align: center;
  margin-left: 8px;
  padding: 13px 25px;
  text-decoration: none;
  font-size: large;
  border-style: inset dashed;
  border-color: midnightblue;
  border-radius: 12px;
  width: 120px;
  height: 22px;
}
   
#navbar a:hover { <!--Navbar buttons hover color change-->
  background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); <!--added gradient color-->
  color: black;
  }


#navbar a.active { <!--Navbar buttons hover color change-->
  background: linear-gradient(45deg, #deedfa 0%,#bcd6f4 22%,#aaccf2 33%,#a0c4f0 50%,#97c0ef 67%,#619ae5 82%,#d3a227 100%); <!--added gradient color-->
  color: black;
  border-style: outset ridge;
}

.navbar-container {
  width: fit-content;
  margin: 0 auto;
}

.content {
  padding: 16px;
  text-align: center;
}

.resume-page {
  display: block;
  text-align: center;
}

.content h2{ <!--header font type and sizing-->
  font-family: "Merriweather Sans", sans-serif, Verdana;
  font-weight: 600;
  font-style: italic;
}

.content h3{ <!--header font type and sizing-->
  font-size: x-large;
  font-family: "Montserrat", sans-serif, Geneva;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.content li {
  font-size: large;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  padding: 4px;
  margin: 0 auto;
  list-style-position: inside;
}

.content ol footer{
  height: 100px;
  width: 100%;
  font-size: small;
  padding-top: 15px;
  text-align: left;
}

iframe{
  display: block;
  padding: 20px;
  margin: 0 auto;
}

footer {
  height: 100px;
  width: 100%;
  font-size: medium;
  padding-top: 20px;
  padding-left: 50px;
}